# Godot 4+ specific ignores
.godot/
/android/
addons/godot-git-plugin/git_plugin.gdextension
addons/godot-git-plugin/git_plugin.gdextension.uid
addons/godot-git-plugin/windows/libgit_plugin.windows.editor.x86_64.dll
addons/godot-git-plugin/windows/~libgit_plugin.windows.editor.x86_64.dll
survivors_game.tscn2888909364.tmp
survivors_game.tscn2899923418.tmp
addons/
*.tmp
*.kra
*.import
*.png~
*.kra~
